version: "3.9"

services:
  backend:
    build: .
    container_name: turf-backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: turf-db
    environment:
      POSTGRES_DB: turf
      POSTGRES_USER: Ankit
      POSTGRES_PASSWORD: Ankit@9021876476
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data: